<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Trips Index Page</h1>
        <nav>
          <a href="/trips/new">Create a New Trip</a>
        </nav>
        <ul>
            <% for (let i = 0; i < trips.length; i++) { %>
                <li>
                  <a href="/trips/<%=trips[i].id%>">
                    <%= trips[i].name %>
                  </a>   
                </li>
            <% } %>
        </ul>
    </body>
</html>