<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Trip Page</title>
    </head>
    <body>
        <h1>New Trip Page</h1>
        <form action="/trips" method="POST">
            Name: <input type="text" name="name" /> <br>
            <input type="submit" name="" value="Create Trip"/>
        </form>
    </body>
</html>
