<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Trips Show Page</h1>
        <%= trip.name %>
        <nav>
            <a href="/trips">Back to Trips Index</a>
        </nav>
    </body>
</html>
