body {
  background-color: #bdf3f0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.container {
  background-color: #e8f3f3;
  width: 100%;
  max-width: 1000px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  border: 10px solid #3b4948;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#form-message1 {
  font-size: 22px;
}

#third-label {
  margin-bottom: 30px;
}

#form-message2 {
  font-size: 22px;
}

.input-label {
  font-size: 22px;
  margin-right: 2px;
  display: inline-block;
  width: 140px;
  text-align: right;
}

input[type="text"] {
  font-size: 20px;
  width: 300px;
  padding-left: 2px;
}

#button {
  background-color: white;
  font-size: 18px;
  padding: 7px 14px;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button:hover {
  background-color: #70dad3;
}