body {
  background-color: #bdf3f0;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.container {
  background-color: #e8f3f3;
  width: 100%;
  max-width: 1000px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 10px;
  border: 10px solid #3b4948;
}

h1 {
  color: white;
  background-color: #ec8c6f;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 30px;
  margin-top: 0px;
}

h2 {
  color: #ec8c6f;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 38px;
}

nav a {
  color: black;
  background-color: white;
  font-size: 24px;
  display: inline-block;
  padding: 7px 14px;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin-bottom: 19px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #70dad3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

.description {
  font-size: 24px;
}

li:last-child {
  margin-bottom: 45px;
}

li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

li a:hover {
  color: #ec8c6f;
}
